---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/blog-post.css";

export async function getStaticPaths() {
  const blogPosts = await getCollection("writing");
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  {...(post.data.ogImage && { ogImage: post.data.ogImage })}
>
  <article class="container blog-post">
    <div class="blog-post-back">
      <a href="/" class="link-back"> ← Back to home </a>
    </div>
    <header class="blog-post-header">
      <h1 class="blog-post-title">
        {post.data.title}
      </h1>
      <div class="blog-post-meta">
        <time datetime={post.data.pubDate.toISOString()}>
          {
            post.data.pubDate.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <span>by {post.data.author}</span>
      </div>
    </header>

    <div class="blog-post-content">
      <Content />
    </div>
    <footer class="blog-post-footer">
      <a href="/" class="link-back"> ← Back to home </a>
    </footer>
  </article>
</BaseLayout>
